.container__section{
    border-bottom: 10px solid #ededed;
    background-color: white;
    margin: 10px 0;
}

.container__header {
    border-bottom: 2px solid #ededed;
    font-size: 20px;
    margin: 0;
    padding: 15px;
}

.container__content {
    margin: 0;
    padding: 20px;
}

.container__button {
    padding: 10px;
    border: 2px solid #007382;
    background-color: #007382;
    color: white;
    cursor:pointer;
}

.container__button:hover {
     background-color: #1a4d54;
}

.container__button:active {
    transform: scale(0.94);
    box-shadow: 3px 2px 50px -16px #1a4d54;
    background-color: #1a4d54;
}

.container__input {
    padding: 10px;
    min-width: 80%;
    border: 2px solid #ededed;
}

.tasks {
    margin: 0;
    padding: 10px;
}

.form {
    display:flex;
    justify-content: space-between;
}