html {
    box-sizing: border-box;
}
 
*, ::after, ::before {
     box-sizing: inherit; 
}

.body__container {
    max-width: 1000px;
    margin:100px 350px;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}

.main__container {
    margin: auto;
}

.task__done {
    text-decoration: line-through;
}

.task__button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    justify-self: center;
}

.task__button--checkMark {
    some style
}

.task__button--deleteMark {
    some style
}

.przyladowycss {
    word-break: break-word;
}

.task__rendered {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    list-style: none;
    word-break: break-word;

}


/* mediaquerry 1150px */