html {
    box-sizing: border-box;
}
 
*, ::after, ::before {
     box-sizing: inherit; 
}

.body__container {
    max-width: 1000px;
    margin:100px 400px;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}

.main__container {
    margin: auto;
}

.task__done {
    text-decoration: line-through;
}

.przyladowycss {
    word-break: break-word;
}