html {
    box-sizing: border-box;
}
 
*, ::after, ::before {
     box-sizing: inherit; 
}

.body__container {
    max-width: 1000px;

}

.task__done {
    text-decoration: line-through;
}

.przyladowycss {
    word-break: break-word;
}